extends layout

block pagecontents
	div.panel
	h2 Tips Belajar untuk SBMPTN Sejarah 2015
		|     
		p
		| Halo rekan-rekan muda nan imut-imut sekalian! Gimana suasana hati? Beres? Makin deg-degan ga enam bulan menjelang SBMPTN? Yaah.. Berbahagialah jika elo2 semua makin deg-degan, karena deg-degan itu pertanda elo niat banget jadi anak kuliahan di tempat yang elo suka. Di blog-blog yang lalu kan udah pernah dibahas tuh, tips-tips ngerjain soal SBMPTN Kimia dan SBMPTN Bahasa Inggris. Naah sekarang giliran buat yang ambil IPS ato IPC nih, khususnya buat yang mau bikin nilai SBMPTN Sejarah lo maksimal.... 
		a(href='/blog/1e4a29f1fe592cf67d68bce0017a6345') Baca Selengkapnya