extends layout

block pagecontents
  div.panel
    h2 Tips Belajar untuk SBMPTN Sejarah 2015
      |     
      p
        | Halo rekan-rekan muda nan imut-imut sekalian! Gimana suasana hati? Beres? Makin deg-degan ga enam bulan menjelang SBMPTN? Yaah.. Berbahagialah jika elo2 semua makin deg-degan, karena deg-degan itu pertanda elo niat banget jadi anak kuliahan di tempat yang elo suka. Di blog-blog yang lalu kan udah pernah dibahas tuh, tips-tips ngerjain soal SBMPTN Kimia dan SBMPTN Bahasa Inggris. Naah sekarang giliran buat yang ambil IPS ato IPC nih, khususnya buat yang mau bikin nilai SBMPTN Sejarah lo maksimal.... 
        a(href='/blog/1e4a29f1fe592cf67d68bce0017a6345') Baca Selengkapnya
  div.panel
    h2 Gravitasi Buatan di Film Interstellar
      |     
      p
        | Mumpung masih hot soal Interstellar, kita lanjutin lagi yuk konsep Fisika lainnya yang ada di film ini. Beberapa hari yang lalu, Glenn kan udah nulis tentang konsep dilatasi waktu di film Interstellar. Kalau lo mau tau gimana konsep relativitas-nya Einstein dipakai untuk menjelaskan dilatasi waktu, kenapa para astronot tetap muda sedangkan orang di bumi makin tua, gue saranin lo baca tulisan Glenn dulu deh. Kalau Glenn ngebahas bagian Fisika yang berat-berat, di postingan ini gue justru mau angk... 
        a(href='/blog/3dd139105d01b7a29b877581d153aa17') Baca Selengkapnya
  div.panel
    h2 Fritz Haber, dari Pupuk ke Senjata Kimia
      |     
      p
        | Menjelang tahun baru nanti, mungkin udah ada yang sibuk nih menyiapkan petasan dan kembang api untuk mengisi kemeriahan malam tahun baru. Sebagian besar dari kalian pasti sudah pada tau dong kalo petasan memanfaatkan mesiu sebagai bahan peledaknya. Dan salah satu unsur yang dipake untuk membuat mesiu adalah Amonia. Tapi sedikit sekali yang tahu sejarah penggunaan amonia sebagai salah satu unsur penting pembuatan bahan peledak erat sekali kaitannya dengan pengentasan ancaman kelaparan global. Loh... 
        a(href='/blog/1e4a29f1fe592cf67d68bce0017dc176') Baca Selengkapnya
  
  each cont, i in docontents
    div.panel
      h2= i
        p= cont
          a #{bid} Baca Selengkapnya
          